<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-col space-y-4 mb-6">
    <div>
      <%= form.label :title, class: "blog-input-label" %>
      <%= form.text_field :title, class: "blog-input" %>
    </div>

    <div>
      <%= form.label :content, class: "blog-input-label" %>
      <%= form.rich_text_area :content, class: "blog-text-area" %>
    </div>

    <div>
      <%= form.label :published_at, class: "blog-input-label" %>
      <div class="datetime-select-wrapper flex flex-row items-center text-center space-x-1">
        <%= form.datetime_select :published_at, include_blank: true %>
      </div>
    </div>
  </div>

  <div class="flex justify-end items-center space-x-4">
    <%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "blog-button-danger" %>
    <%= form.button class: "blog-button" %>
  </div>
<% end %>
