<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if user_signed_in? %>
        <div class="flex flex-row justify-between items-center mb-8">
          <%= link_to "Home", blog_posts_path, class: "blog-button-secondary" %>
          <div class="space-x-4 flex flex-row items-center">
            <%= link_to "New blog post", new_blog_post_path, class: "blog-button" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "blog-button-secondary" %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
